<%- include('../partials/header') %>
<h1>Suppliers</h1>
<a href="/suppliers/new">Add New Supplier</a>
<table>
    <thead><tr><th>Name</th><th>Address</th><th>Phone</th><th>Actions</th></tr></thead>
    <tbody>
        <% suppliers.forEach(supplier => { %>
            <tr>
                <td><%= supplier.name %></td>
                <td><%= supplier.address %></td>
                <td><%= supplier.phone %></td>
                <td>
                    <a href="/suppliers/<%= supplier._id %>/edit">Edit</a>
                    <form action="/suppliers/<%= supplier._id %>?_method=DELETE" method="POST" style="display:inline;">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
<%- include('../partials/footer') %>